<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Contact Developer</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body class="center-page">

<div class="container">
    <h2>👨‍💻 About Developer</h2>

    <p><b>Name:</b> Ayush Vishwakarma</p>

    <p><b>Telegram:</b><br>
    <a href="https://t.me/JoyAyush" target="_blank">@JoyAyush</a>
    </p>

    <hr>

    <p><b>🚀 My Projects:</b></p>

    <a href="https://t.me/jacklegend_bot" target="_blank">🌐 Telegram Bot</a><br><br>
    <a href="https://anurag-max444.github.io" target="_blank">🌐 Web Support</a><br><br>
    <a href="https://webhacker.netlify.app" target="_blank">🔥 Coding Support</a>

    <br><br>

    <a href="/dashboard">⬅ Back to Dashboard</a>
</div>

</body>
</html>
