<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dashboard</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="header">
<div class="logo">☁️Private Jack Cloud | Developer - Ayush</div>
<a href="/about" style="margin-right:10px;">👨‍💻 Contact Developer</a>
<a href="/logout" class="logout">Logout</a>
</div>

<div class="container">
<h3>Upload File</h3>

<form method="POST" enctype="multipart/form-data">
<input type="file" name="file" required>
<button>Upload</button>
</form>
</div>

<div class="files">
{% for file in files %}
<div class="file">

{% if file.endswith('.png') or file.endswith('.jpg') %}
<img src="/download/{{file}}">
{% endif %}

<p>{{file}}</p>

<div class="actions">
<a href="/download/{{file}}" class="download">Download📂</a>
<a href="/delete/{{file}}" class="delete">Delete🗡</a>
</div>

</div>
{% endfor %}
</div>

</body>
</html>
